{% extends "base.html" %}

{% block titulo %}
	Inicio
{% endblock titulo %}

{% block contenido %}
	<form class="form-inline" method="GET" action="/buscar/" >
    	<div class="input-group input-group-sm">
        	<input type="text" class="form-control" name="buscaditas" placeholder="Primer Nombre">
          <input type="text" class="form-control" name="buscaditas1" placeholder="Segundo Nombre">
          <input type="text" class="form-control" name="buscaditas2" placeholder="Primer Apellido">
          <input type="text" class="form-control" name="buscaditas3" placeholder="Segundo Apellido">
          <input type="hidden" name="pagina" value="1">
        	<span class="input-group-btn"> 
          		<button id="btnBuscar" class="btn btn-info" type="submit">Buscar</button>
        	</span>
    	</div>
  	</form>
	
{% endblock contenido %}
		
