{% extends "base.html" %}
{% block style %}
    <style type="text/css">
        .titulo{
            border-radius: 0;
            color: black;
            background-color: white;
            border-bottom: 1px solid black;
            font-size: 24px;
            margin-bottom: 10px;
            padding: 1.5% 0%;
        }
    </style>
{% endblock style %}
{% block contenido %}
<div id="Registro" class="row">
	<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
		<form role="form" id="frmRegUsuario" name="frmRegUsuario" method="post" action="/registro/">{% csrf_token %}
			<h2 class="titulo">Crear una cuenta</h2>
			<div class="row">
				<div class="col col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					    <input type="text" class="form-control input-lg" id="first_name" name="first_name" tabindex="1" placeholder="Nombres" required>
					</div>
				</div>
				<div class="col col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
				    	<input type="text" class="form-control input-lg" id="last_name" name="last_name" tabindex="2" placeholder="Apellidos" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" class="form-control input-lg" id="username" name="username" placeholder="Nombre de usuario" tabindex="4" required>
				      	<span id="verificaUser"></span>
					</div>
				</div>
				<div class="col col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="email" class="form-control input-lg" id="email" name="email" placeholder="Correo electrónico" tabindex="5" required>
						<span id="verificarEmail"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" class="form-control input-lg" id="password" name="password" tabindex="6" placeholder="Contraseña" required>
					</div>	
				</div>
				<div class="col col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="password" class="form-control input-lg" id="txtPassword2" name="txtPassword2" tabindex="7" placeholder="Repita la contraseña" required>
					</div>	
				</div>
			</div>
			<div class="col col-xs-12 col-sm-6 col-md-6">
				<div class="form-group">
					<button type="submit" tabindex="10" class="btn btn-block btn-success">Registrar</button>    
				</div>
			</div>
		</form>
	</div>
</div>
<input type="hidden" id="centinela_marca" value="0">

{% endblock %}