{% extends "base.html" %}
{% block titulo %}
	Score de Personas Afiliadas
{% endblock  %}

{% block contenido %}
  <table class="table table-hover">
    <tr>
      <td><h3>Factor de Riesgo Considerado</h3></td><td><h3>Porcentaje de Riesgo</h3></td>
    </tr>
    <tr>
      <td><p>Nacionalidad del cooperativista</p></td><td><p>{{ PorcNacion }}</p></td>
    </tr>
    <tr>
      <td><p>Persona Politicamente Expuesta NACIONAL</p></td><td><p>{{ pepnac }}</p></td>
    </tr>
    <tr>
      <td><p>Persona Politicamente Expuesta Internacional</p></td><td><p>{{ pepext }}</p></td>
    </tr>
    <tr>
      <td><p>Aparece en la lista de cautela interna</p></td><td><p>{{ cautela }}</p></td>
    </tr>
    <tr>
      <td><p>Canales de Distribucion</p></td><td><p></p></td>
    </tr>
    <tr>
      <td><p>Zona geografica donde reside</p></td><td><p></p></td>
    </tr>
    <tr>
      <td><p>Tipo de servicio a utilizar</p></td><td><p></p></td>
    </tr>
    <tr>
      <td><p>Es beneficiario final de la cuenta</p></td><td><p></p></td>
    </tr>
    <tr>
      <td><p>Aparece en la base de requerimientos UIF</p></td><td><p>{{ uif }}</p></td>
    </tr>
    <tr>
      <td><p>Actividad economica del cooperativista</p></td><td><p>{{ PorcActividad }}</p></td>
    </tr>
  </table>
{% endblock %}